body {
  display: grid;
  grid-template-areas:
  'aside main main main main main';
  grid-gap: 10px;
  padding: 10px;
  margin: 0em 0em;
}

body > * {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  /* padding: 20px 0; */
  font-size: 16px;
}

.photo {
  max-width: 100%;
  height: auto;
}

header { grid-area: header; }
.name  { grid-area: name; }
aside  { grid-area: aside; }
main   { grid-area: main; }

header {
  display: flex;
}

main > section:first-child h1 {
  margin-block-start: 0;
}

main > section > h1 {
  background-color: lightgray
}

aside > section:first-child h1 {
  margin-block-start: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

main ul{
  display: grid;
  grid-template-columns: 1fr 3fr;
}

aside ul li {
  display: flex;
  flex-direction: column;
}

li { padding: 5px 0; }


aside {
  width: 12em;
}

.full-name {
  margin-block-start: 0;
  font-size: xxx-large;
  /* margin-top: -0.2em;
  margin-bottom: 0.2em; */
  font-weight: bolder;
}

aside > section {
  display: flex;
  flex-direction: column;
}
